In [1]:
import pandas as pd

In [2]:
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]

In [3]:
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]

In [5]:
state = pd.Series(populations,index=index)

In [6]:
state[('New York',2000)]

18976457

In [7]:
state.index

Index([(u'California', 2000), (u'California', 2010),   (u'New York', 2000),
         (u'New York', 2010),      (u'Texas', 2000),      (u'Texas', 2010)],
      dtype='object')

In [8]:
[i for i in state.index if i[1] == 2010]

[('California', 2010), ('New York', 2010), ('Texas', 2010)]

In [9]:
state[[i for i in state.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [10]:
state

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

### Pandas MultiIndex
* from_tuple
* from_array
* from_product

In [11]:
index

[('California', 2000),
 ('California', 2010),
 ('New York', 2000),
 ('New York', 2010),
 ('Texas', 2000),
 ('Texas', 2010)]

In [12]:
state

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [13]:
index = pd.MultiIndex.from_tuples(index)

In [15]:
data = state.reindex(index)

In [16]:
data

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [18]:
d = data.unstack()

In [19]:
d.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [21]:
data.unstack()

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [23]:
import numpy as np
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])

In [24]:
df

        data1     data2
a 1  0.595830  0.377035
  2  0.022191  0.061460
b 1  0.419742  0.364345
  2  0.463074  0.303479

In [30]:
index = pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

In [27]:
pd.DataFrame(np.random.rand(4, 2), index=index)

            0         1
a 1  0.251282  0.562661
  2  0.206318  0.327240
b 1  0.791512  0.117643
  2  0.575678  0.332623

In [32]:
index = pd.MultiIndex.from_product([['a','b'], [1,2]])

In [33]:
index

MultiIndex(levels=[[u'a', u'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [35]:
d = pd.DataFrame(np.random.rand(4, 2), index=index)

In [36]:
d.index.names = ['state','year']

In [37]:
d

                   0         1
state year
a     1     0.707534  0.974731
      2     0.513683  0.646836
b     1     0.866537  0.866709
      2     0.391645  0.292537

In [40]:
df = pd.DataFrame({'state':data})

In [41]:
df

                    state
California 2000  33871648
           2010  37253956
New York   2000  18976457
           2010  19378102
Texas      2000  20851820
           2010  25145561

In [42]:
data

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [43]:
df

                    state
California 2000  33871648
           2010  37253956
New York   2000  18976457
           2010  19378102
Texas      2000  20851820
           2010  25145561

In [45]:
df['state']

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
Name: state, dtype: int64

In [46]:
df.loc['New York',2000]

state    18976457
Name: (New York, 2000), dtype: int64