* Handling & Manupulating string data is one very imp thing
* It provides comprehensive set of vectorized string operations for various types of data munging

### Pandas String Operations

In [1]:
import pandas as pd

In [3]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])

In [4]:
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

In [5]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [6]:
monte.str.contains('a')

0     True
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [7]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [11]:
monte.str.extract('([A-Zd-s]+)',expand=False)

0      Gr
1    John
2    Terr
3     Eri
4    Terr
5      Mi
dtype: object

In [16]:
monte.str.findall(r'^[AEIOU].*[aeiou]$')

0             []
1             []
2             []
3    [Eric Idle]
4             []
5             []
dtype: object

In [17]:
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [18]:
help(monte.str.get_dummies)

Help on method get_dummies in module pandas.core.strings:

get_dummies(sep='|') method of pandas.core.strings.StringMethods instance
    Split each string in the Series by sep and return a frame of
    dummy/indicator variables.

    Parameters
    ----------
    sep : string, default "|"
        String to split on.

    Returns
    -------
    dummies : DataFrame

    Examples
    --------
    >>> Series(['a|b', 'a', 'a|c']).str.get_dummies()
       a  b  c
    0  1  1  0
    1  1  0  0
    2  1  0  1

    >>> Series(['a|b', np.nan, 'a|c']).str.get_dummies()
       a  b  c
    0  1  1  0
    1  0  0  0
    2  1  0  1

    See Also
    --------
    pandas.get_dummies